<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ihome.android.ihome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainPage"
            android:screenOrientation="portrait"> <!-- TODO CHANGE BACK TO CONNECT TO RASP -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wifiConfig"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConnectToRasp"
            android:screenOrientation="portrait" />

        <service android:name=".Upload_Service" />

        <activity
            android:name=".Download"
            android:screenOrientation="portrait" />

        <service
            android:name=".Download_Service"
            android:exported="false" />

        <activity android:name=".Logs" />
        <activity android:name=".LiveStream" />
        <activity android:name=".Motion_Detector"></activity>
    </application>

</manifest>